@use "variables" as *;

@mixin tablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

@mixin responsive-bg($section) {
  background-image: url("/space-tourism/assets/#{$section}/background-#{$section}-mobile.jpg");
  background-size: cover;
  background-position: bottom center;

  @include tablet {
    background-image: url("/space-tourism/assets/#{$section}/background-#{$section}-tablet.jpg");
    background-position: center center;
  }

  @include desktop {
    background-image: url("/space-tourism/assets/#{$section}/background-#{$section}-desktop.jpg");
  }
}
