---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<div class="tab-list" role="tablist">
  {
    items.map((item, i) => (
      <button
        class="tab-button ff-sans-cond uppercase letter-spacing-2"
        role="tab"
        aria-selected={i === 0 ? "true" : "false"}
        data-index={i}
      >
        {item}
      </button>
    ))
  }
</div>

<style lang="scss">
  @use "../styles/variables" as *;

  .tab-list {
    display: flex;
    justify-content: space-evenly;

    @media (min-width: $bp-desktop) {
      gap: 1.5rem;
      justify-content: flex-start;
    }
  }

  .tab-button {
    background: transparent;
    border: 0;
    border-bottom: 3px solid transparent;
    color: $clr-light;
    padding-block: 0.75rem;
    cursor: pointer;
    font-size: $fs-500;

    &:hover {
      border-color: hsl(0 0% 100% / 0.5);
    }

    &[aria-selected="true"] {
      color: $clr-white;
      border-color: $clr-white;
    }
  }
</style>
